<head>
    <title>Calculadora</title>
    <div>
        <button class="botao-home-class" type="button" onclick="navegaHome()">Home</button>
    </div>
</head>

<body>

    <header>
        <h1 class="titulo">Calculadora</h1>
        <p class="paragrafo">
            Bem Vindo, Aqui vamos conseguir realizar operações matematicas.
        </p>
    </header>

    <br>
    <label class="letras">Valor 1:</label>
    <input type="number" id="numero1">

    <br><br>
    <label class="letras">Valor 2:</label>
    <input type="number" id="numero2">

    <br><br>
        <button onclick="somar()" class="botoes">Somar</button>
        <button onclick="subtrair()" class="botoes">Subtrair</button>
        <button onclick="multiplicar()" class="botoes">Multiplicar</button>
        <button onclick="divide()" class="botoes">Dividir</button>
    <br><br>
    <label class="letras">Resultado:</label>
    <input type="number" id="total">
</body>