<app-header-component></app-header-component>
<div class="content" role="main">

  <!-- Resources -->
  <h1 class="titulo">Site de Ferramentas</h1>
  <p class="paragrafo">Apresento um site criado com o intuito de melhorar meu conhecimento em Java Script, com alguns
    desafios para solucionar.</p>
  <br><br>

  <app-botoes-home></app-botoes-home>

  <router-outlet></router-outlet>

  <br>
  <h1 class="titulo">Uma pequena introdução sobre Java Script.</h1><br>
  <p class="paragrafo">
  <p>
    JavaScript é uma linguagem de programação interpretada, orientada a objetos e de alto nível que é amplamente
    usada em desenvolvimento web para criar páginas interativas e dinâmicas. É uma das principais linguagens de
    script utilizadas em conjunto com HTML e CSS para criar conteúdo web moderno e interativo.
  </p>
  <p>
    A linguagem foi criada em 1995 por Brendan Eich enquanto trabalhava na Netscape Communications Corporation.
    O objetivo era criar uma linguagem que pudesse ser usada no navegador e permitisse que os desenvolvedores
    adicionassem interatividade às páginas web. Desde então, a linguagem evoluiu consideravelmente, e é usada
    não apenas em navegadores, mas também em servidores, dispositivos móveis e desktops.
  </p>
  <p>
    Hoje, o JavaScript é uma das linguagens de programação mais populares do mundo. Ele é amplamente utilizado
    em uma variedade de aplicações, desde desenvolvimento web até aplicativos móveis e de desktop. É uma das
    linguagens mais versáteis, e a grande comunidade de desenvolvedores e as várias bibliotecas disponíveis
    facilitam o desenvolvimento de aplicativos de alta qualidade e escaláveis.
  </p>
  <p>
    Além disso, o JavaScript é a base do desenvolvimento do Node.js, um ambiente de tempo de execução que
    permite que os desenvolvedores escrevam aplicativos do lado do servidor em JavaScript. O Node.js se tornou
    uma escolha popular para desenvolver aplicativos de alto desempenho, escaláveis e em tempo real, como jogos
    online, aplicativos de bate-papo, transmissão de vídeo e muito mais.
  </p>
  <p>
    Em resumo, o JavaScript é uma linguagem de programação poderosa e versátil que continua a evoluir e a
    crescer em popularidade. Ele desempenha um papel importante no desenvolvimento web moderno, permitindo que
    os desenvolvedores criem aplicativos interativos, escaláveis e dinâmicos.
  </p>
  <br><br>

</div>