.cabecalho {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    justify-content: space-between;
}

.icone-home{
    left: 17px;
    position: relative;
    font-size: 35px;
    cursor: pointer;
}
.titulo {
    color: #ffff;
    font-weight: 600;
}

.icone-estilo {
    left: -17px;
    position: relative;
    display: flex;
}

.icone-instagram {
    margin: 0px 10px 0px 0px;
}


svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}