body {
    background-color: #0032fa;
    font-family: Arial;
}

.titulo{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}

.paragrafo{
    font-size: 25px;
    color: #ffffff;
}

.botao-home-class {
    background-color: #ffffff;
    padding: 7px;
    font-size: 20px;
}

.botoes {
    background-color: #ffffff;
    font-size: 20px;
}

.letras{
    color: #ffffff;
    font-size: 18px;

}