body {
    background-color:  #0032fa;
    font-family: Arial;
}

.titulo{
    font-size: 25px;
    color: #000000;
    font-weight: 600;
}

.paragrafo{
    font-size: 25px;
    color: #000000;
}

.letras {
    color: #000000;
    font-size: 25px;
    font-family: Arial;
}

.botoes {
    background-color: #000000;
    font-size: 20px;
    font-family: Arial;
}

.icone-home {
    font-size: 35px;
    color: #000000
}

.botao-home-class {
    background-color: #000000;
    padding: 7px;
    font-size: 20px;
}