<nav>
    <ul>
        <div class="card-container">
            <div>
                <a class="card" rel="noopener" routerLink="/calculadora">
                    <span>Calculadora</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
            <div>
                <a class="card" rel="noopener" routerLink="/components/calculadora/calculadora.component">
                    <span>CalcularKWH</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
            <div>
                <a class="card" rel="noopener" routerLink="/components/calculadora/calculadora.component">
                    <span>CalcularMDC</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
            <div>
                <a class="card" rel="noopener" routerLink="/components/calculadora/calculadora.component">
                    <span>Numeros Crescentes</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
            <div>
                <a class="card" rel="noopener" routerLink="/components/calculadora/calculadora.component">
                    <span>Tabuada</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
            <div>
                <a class="card" rel="noopener" routerLink="/components/calculadora/calculadora.component">
                    <span>Decimal para Binario</span>
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
            </div>
        </div>
    </ul>
</nav>