<div id="calculadoraKWH-container">
    <header>
        <h1 class="titulo">CalculadoraKWH</h1>
        <p class="paragrafo">
            Bem Vindo, Aqui vamos calcular seu consumo de Energia.
        </p>
    </header>
    <div>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" [(ngModel)]="quantidade">
        <br><br>
        <label for="valorUnitario">Valor unitário:</label>
        <input type="number" id="valorUnitario" [(ngModel)]="valorUnitario">
        <br><br>
        <button class="botoes" (click)="calcularValor()">Calcular valor</button>
        <br><br>
        <label for="valorTotal">Valor total:</label>
        <input type="text" id="valorTotal" [value]="valorTotal">
    </div>
</div>